<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Marked Sample</title>
    </head>
    <body>

        <%# <form method="POST" action="/">%>
            <div>
                sample view text
            </div>
            <div>
                <%# <button type="submit">Submit Markdown</button>%>
            </div>
        <%# </form>%>

    </body>
</html>
